* {
  padding: 0;
  margin: 0;
}

body {
  padding: 15px;
}

h2 {
  margin-bottom: 20px;
}

.para {
  border-left: 2px solid black;
  color: #69696a;
  padding-left: 10px;
}

.btn {
  background-color: #000;
  color: white;
  margin-top: 10px;
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
  border-radius: 30px;
  margin-top: 20px;
}
.about-parent-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para,
.btn {
  width: 50%;
}

.about-container.side-by-side-item {
  box-sizing: border-box;
  margin-top: 120px;
}

.about-container {
  display: flexbox;
  position: relative;
}

.container {
  padding-right: 43px;
}

.large {
  border-radius: 50%;
  width: 175px;
  height: 175px;
  position: relative;
  top: -70px;
  left: -10px;
  bottom: 40px;
  background-color: rgba(247, 136, 167, 0.6);
  margin: 0 auto;
  text-align: center;
}

.medium {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: relative;
  top: 190px;
  left: 55px;
  background-color: rgba(247, 193, 162, 0.7);
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.small {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  position: relative;
  top: 230px;
  left: 80px;
  background-color: rgba(207, 130, 213, 0.6);
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}
